@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

.border-b-less-1 {
  border-bottom-width: 0.5px;
}
.text-xxs {
  font-size: 9px;
}
.text-xsm {
  font-size: 10px;
}
.px-2\.5 {
  padding-left: 0.625rem; /* 8px */
  padding-right: 0.625rem;
}
.modal-background {
  background: rgba(0, 0, 0, 0.75);
}

.display-none {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.btn-primary-shadow {
  box-shadow: 0px 11px 21px rgba(16, 13, 170, 0.21);
}

.noboxshadow {
  box-shadow: none !important;
}

.flew-row-im {
  flex-direction: row !important;
}

.py-20 {
  padding: 20px 30px !important;
}

.table-footer-main div {
  border: none;
}

.mt-00 {
  margin-top: 0 !important;
}

.text-blackk {
  color: black !important;
}

.table-overflow .overflow-x-auto {
  overflow-x: scroll !important;
}
.table-overflow tbody tr td:last-child {
  /* float: right; */
}
.table-overflow tbody tr td.text-center {
  text-align: center !important;
}

.active-shadow {
  box-shadow: 0px 11px 21px rgba(16, 13, 170, 0.21);
}

/* .questionsBox::-webkit-scrollbar {
  display: none !important;
}

.questionsBox {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
} */
